.card-container {
    width:150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    transition: all ease-in 0.2s;
    position: absolute;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid seashell;
  }

  .card img {
    width:95%;
    display:block;

  }
  
  .card:hover {
    cursor:pointer;
  }
  
  .card-front {
    background-color:  #990629 ;
    transform: rotateY(90deg);
  }

  .flipped .card-front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }

.card-back {
    background-color: burlywood;
    transition-delay: 0.2s;
  }


  .flipped .card-back {
    transform: rotateY(90deg);
    transition-delay: 0s;
  }
