.App {
  max-width: 916px;
  margin: 40px auto;
  text-align: center;
}

.new-button {
  width:200px;
  height:100px;
  cursor: pointer;
  background-image: url('assets/img/scroll.png');
  font-family: fantasy;
  color: black;
  background-position: center;
  background-size: 200px 100px;
  background-repeat: no-repeat;
  background-color: transparent;
  border:none;
  font-size: 1.5em;
}


.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:20px;
  width: 100%;
  margin: 15px 0 30px 0;
}

h1 {
  font-size:4em;
}

p {
  font-family: fantasy;
  color: black;
}
