@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

/* base styles */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  background: #fac45a;
  color: #990629;
  font-family: 'Sail', cursive;
  background-image: url('assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}